<%- include('header') %>
    <div class="register-container">
        <h1 class="title">Regisztráció</h1>
        <form method="POST">
            <fieldset>
                <legend>név</legend>
                <input type="text" class="input" id="name" name="name" placeholder="Agyalá Gyula">
            </fieldset>
            <fieldset>
                <legend>e-mail</legend>
                <input type="text" class="input" id="email" name="email" placeholder="pelda@gmail.com">
            </fieldset>
            <fieldset>
                <legend>jelszó</legend>
                <input type="password" class="input" id="password" name="password" placeholder="**********">
            </fieldset>
            <fieldset>
                <legend>jelszó mégegyszer</legend>
                <input type="password" class="input" id="password2" name="password2" placeholder="**********">
            </fieldset>
            <input type="submit" value="Regisztráció" class="button">
        </form>
        <%- include('errormessage') %>
        <a href="/">Vissza a főoldalra</a>
    </div>
<%- include('footer') %>